body {
  margin: 0 auto;
  max-width: 50em;
  padding: 1em;
  text-align: center;
  font-family: 'Helvetica';
}

h1, h2 {
  font-weight: 200;
  margin: 1em;
}

input {
  line-height: 27px;
  font-size: 1em;
}

main {
  margin-top: 8em;
  font-size: 30px;
}
